.blogContainer {
  background-color: #19223c !important;
  border-radius: 15px;
}

.line1 {
  height: 3px;
  background-color: rgba(162, 25, 91, 0.664);
  width: 200px;
  margin-bottom: 10px;
}
.line {
  height: 4px;
  background-color: rgba(124, 27, 74, 0.599);
}
.cartBody p {
  word-spacing: 4px;
  text-align: justify;
}
